extend _layout.pug

block navbar
    - var path = 'index.html'
    include partials/navbar.pug

block content
    h1.text-red My Front End Starter Kit
    img.card-rotate(src='img/front-end-kids.png')
    script(src="js/vendors.js")
    script(src='js/all.js')